<div>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-md-8">
            <h2 id="page-heading">
                <span jhiTranslate="twentyonepointsApp.waist.home.title">Waists</span>
            </h2>
        </div>
        <div class="col-md-4">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-waist"
                    [routerLink]="['/waist/new']"
                    [ngbTooltip]="addWaist" placement="bottom">
                <fa-icon [icon]="'plus'"></fa-icon>
                <ng-template #addWaist>
                        <span class="hidden-sm-down"  jhiTranslate="twentyonepointsApp.waist.home.createLabel">
                            Create new Waist
                        </span>
                </ng-template>
            </button>
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mr-1">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'twentyonepointsApp.waist.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="waists">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="date"><span jhiTranslate="twentyonepointsApp.waist.date">Date</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="length"><span jhiTranslate="twentyonepointsApp.waist.length">Length</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="unit"><span jhiTranslate="twentyonepointsApp.waist.unit">Unit</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="user.login"><span jhiTranslate="twentyonepointsApp.waist.user">User</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let waist of waists ;trackBy: trackId">
                <td><a [routerLink]="['/waist', waist.id, 'view' ]">{{waist.id}}</a></td>
                <td>{{waist.date | date:'mediumDate'}}</td>
                <td>{{waist.length}}</td>
                <td jhiTranslate="{{'twentyonepointsApp.LengthUnits.' + waist.unit}}">{{waist.unit}}</td>
                <td>
                    {{waist.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/waist', waist.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/waist', waist.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'waist/'+ waist.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
